* {box-sizing: border-box;} 

body {
    margin: 0; 
}

.parent {
 background-color: cadetblue ;
 padding: 50px;
 width: 80%;
}

.child {
background-color: aqua;
/* height: 250px; */
width: 50%;
padding: 5em;
}

